@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
*{
    --color: #00A97F;
    --video-streamers: #009900;
    --imagens: rgb(12, 61, 42);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*--- Clear ---*/
.clear{
    clear: both;
}
body{
    height: 100%;
    background: #181818;
}
/*--- Tittle Site ---*/
header{
    height: 75px;
    margin-left: 25%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    margin-top: 20%;
    margin-bottom: 13%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 9000;
    color: #000;
    text-align: center;
}
.titulo{
    font-family: 'Architects Daughter', cursive;
    color: rgba(255, 255, 255, 0.43);
}
/*--- Menu Lateral ---*/
.container-aside ul{
    position: fixed;
    margin-top: 7%;
    float: left;
    margin-left: 5px;
}
.container-aside ul li{
    list-style-type: none;
}
.container-aside ul li i{
    transition: transform 0.10s linear;
    margin-bottom: 70px;
    font-size: 40px;
    color: white;
}
.container-aside ul li i:hover{
    transform: skew(20deg, 10deg);
}
.container-aside ul li i:first-child{
    margin-top: 20px;
}

/*--- Footer ---*/
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-style: italic;
}
footer p {
    margin: 0 20px;
}
/*--- Linha ---*/
div.linha{
    margin-top: 3.5%;
    border-bottom: 2px solid #ccc;
}
div.linha2{
    border-bottom: 2px solid #474242;
    width: 50%;
    max-width: 900px;
    margin: 2% 25% 0 25%;
}
/*---Scrollbar---*/
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.42);
    border-radius: 40px;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.418);
    border-radius: 40px;
    width: 10px;
}

/* Botao de Voltar pro Topo */
.btn-topo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(rgba(255, 0, 0, 0), rgba(0, 128, 0, 0), rgba(0, 0, 255, 0));
}
.arrow-topo{
	color: var(--color);
}

div a:hover, div a{
	text-decoration: none;
}

.arrow-topo:hover{
	color: rgb(255, 255, 255);
	text-decoration-color: rgba(rgba(255, 0, 0, 0), rgba(0, 128, 0, 0), rgba(0, 0, 255, 0));
}
/*--- Keyframe ---*/

/*---Media Screen---*/
@media screen and (max-width:1080px) {
    .container-aside ul{
        position: sticky;
        float: none;
        display: flex;
        justify-content: center;
    }
    .container-aside ul li i{
        margin-right: 40px;
        margin-bottom: 0;
        font-size: 40px;
    
    }.container-aside ul li i:last-child{

    }
    .container-aside ul li i:first-child{
        margin-left: 50px;
    }
    header h1{
        margin-top: 0;
        margin-bottom: 0;
    }
    .container{
        height: 20vh;
    }
}
@media screen and (max-width:768px) {
    
    .container-aside ul li i:first-child{
        margin-top: none;
    }
    .container{
        justify-content: center;
        width: 90%;
        height: 40vh;
        margin-left: 5%;
    }
}
@media screen and (max-width:500px) {
    div.linha2{
        margin: 4% 25% 0 25%;
    }
}
@media screen and (max-width:430px){
}