@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
*{
    --color: #00A97F;
    --video-streamers: #009900;
    --imagens: rgb(12, 61, 42);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}
body{
    height: 100%;
    background: #181818;
}
header{
    height: 75px;
    margin-top: 2.5%;
    text-align: center;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 9000;
    color: #000;
}
.titulo{
    font-family: 'Architects Daughter', cursive;
    color: rgba(255, 255, 255, 0.43);
}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
}
.gallery-items{
    width: 340px;
    height: 300px;
    border: 5px solid var(--imagens);
    box-shadow: 5px 5px 5px #0006;
    transition: transform 0.10s linear;
}
.gallery-items img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-items:hover{
    transform: scale(1.12);
}
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-style: italic;
}
footer p {
    margin: 0 20px;
}
div.linha{
    margin-top: 3.5%;
    border-bottom: 2px solid #ccc;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: rgba(255, 255, 255, 0.42);
    border-radius: 40px;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.418);
    border-radius: 40px;
    width: 10px;
}

/* Botao de Voltar pro Topo */
.btn-topo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(rgba(255, 0, 0, 0), rgba(0, 128, 0, 0), rgba(0, 0, 255, 0));
}
.arrow-topo{
	color: var(--color);
}

div a:hover, div a{
	text-decoration: none;
}

.arrow-topo:hover{
	color: rgb(255, 255, 255);
	text-decoration-color: rgba(rgba(255, 0, 0, 0), rgba(0, 128, 0, 0), rgba(0, 0, 255, 0));
}